################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRD_APHIM_UODS/PRD_APHIM_UODS.sqlproj.user
/PRD_APHIM_UODS/PRD_APHIM_UODS.dbmdl
/LACCovid
/PRD_APHIM_UODS
/Sars2IncidentPullTest
*.sqlx
/EVTExtract/obj/Debug
*.dbmdl
*.jfm
*.user
*.txt
/EVTExtract/bin/Debug
/.vs/EVTExtract/FileContentIndex
/.vs/EVTExtract/v17/.suo
/PRD_APHIM_UODS_2
