################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRD_APHIM_UODS/PRD_APHIM_UODS.sqlproj.user
